/* grid
table
ie: tr and td share the background setting in IE
----------------------------------*/
.ui-grid{
  border-spacing:0px;
  width: 99.9%;
}
.ui-grid th{
  padding:.3em .3em;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
  text-align:left;
}

.ui-grid th a{
  text-decoration:underline;
}
.ui-grid th .ui-icon {
  display: -moz-inline-stack;/*support firefox2*/
  display: inline-block;
  height: 12px;
}
.ui-grid td{
  padding:.3em .3em;
}

/*inherit a border color 
 * border-top:1px solid inherit; This does not work in firefox
 * */
.ui-grid .ui-grid-odd td{
  border-top-width: 1px; 
  border-top-color: inherit;
  border-top-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: inherit;
  border-bottom-style: solid;
  border-right:1px solid inherit;

}
.ui-grid tr{
  border-width:0 !important;
}
.ui-grid tbody .ui-grid-header th{
  border-top-width: 1px; 
  border-top-color: inherit;
  border-top-style: solid;
}
.ui-grid tbody .ui-grid-odd, .ui-grid tbody .ui-grid-even {
  background-image:none !important;
}
.ui-grid tbody .ui-grid-even td{
}
.ui-grid tbody .ui-grid-last td{
  border-bottom-width:0;
}
.ui-grid tbody .ui-grid-odd{

}
.ui-grid tbody .ui-grid-last td{
}

/*the checkbox is padding*/
.ui-grid .ui-grid-select{
  text-align: right;
  padding:0;
  width:30px;
}

.ui-grid-actions a{
  float:left;
  padding-right:.3em;
}
.ui-grid-hover .ui-grid-actions{
}

/*extend*/
/*
.ui-grid tbody .ui-grid-scrollbar td{
  border-width:0;
  padding:0;
}
.ui-grid tbody .ui-grid-scrollbar div{
  overflow: hidden;
}
.ui-grid tbody .ui-grid-scrollbar p{
  display:block;
  margin:0;
  padding:0;
  width: 100%;
  margin-top: -20px;
  overflow-x: auto;
  overflow-y: hidden;
}
.ui-grid tbody .ui-grid-scrollbar span{
  display:block;
  margin:0;
  width: 200%;
  padding:0;
  height:20px;
}
.ui-grid-more{
  display:none;
}
 */
/*scroll*/
.ui-grid-scrollable table{
  border-spacing: 0;
  width:auto;
}
.ui-grid-scroll-head{
  width:100%;
  overflow:hidden;
}
.ui-grid-c {
  overflow:hidden;
}

.ui-grid-scroll-body{
  width:100%;
  height:500px;
  overflow:auto;
}
